<center><h1>Katas</h1></center>

<%= link_to('Log out', destroy_user_session_path, { method: :delete }) %>

<ul>
  <% @katas.each do |kata| %>
    <li>
      <%= link_to(kata.title, kata_path(kata.id)) %><%= edit_kata_link(kata.id) %>
      - <%= link_to('Delete', kata_path(kata.id), { method: :delete, data: {confirm: "Are you sure?"}}) %>
    </li>
  <% end %>
</ul>

<p>
  <%= link_to('New Kata', new_kata_path) %>
</p>
